<div class="login-wrapper content-start">
    <div class="min-h-screen grid justify-items-center content-center">
        <div class="login">
            <form [formGroup]="loginForm" class="w-full" clrForm>
                <section class="title">
                    <h3 class="welcome">Welcome to</h3>
                    Login
                    <h5 class="hint">This is an app made using Angular to frontend and Asp Net Core to backend</h5>
                </section>

                <div class="login-group">

                    <clr-input-container class="!flex !justify-center w-full">
                        <label class="clr-sr-only">Email</label>
                        <input formControlName="email" id="email" clrInput placeholder="Enter with your email..."
                            type="email">

                        <clr-control-error>{{ showErrorMsg(email) }}</clr-control-error>
                    </clr-input-container>

                    <clr-password-container class="!flex !justify-center w-full">
                        <label class="clr-sr-only">Password</label>
                        <input formControlName="password" id="password" type="password" clrPassword
                            placeholder="Enter with your password...">

                        <clr-control-error>{{ showErrorMsg(password) }}</clr-control-error>
                    </clr-password-container>

                    <!-- <a id="forgotPassword" href="">Forgot your password?</a> -->

                    <button [clrLoading]="submitBtnState" (click)="onSubmit()" id="loginButton" type="submit"
                        class="btn btn-primary !bg-[#ffcd00] !border-[#ffcd00]">Login</button>

                    <div class="flex justify-center w-full mt-6">
                        <asl-google-signin-button type='standard' size='large'></asl-google-signin-button>
                    </div>

                    <!-- <button id="loginMicrosoftButton" type="button" class="btn-primary btn-icon btn !bg-[#ffcd00] !border-[#ffcd00] m-0 w-full">
                            <fa-icon size="lg" [icon]="faMicrosoft"></fa-icon>
                        </button> -->
                </div>
            </form>
        </div>
    </div>
</div>