@if (isLoadingGoogle()) {
    <div class="fixed z-10 w-full h-full bg-black/[0.2]">
        <div class="flex justify-center items-center h-full">
            <span class="spinner"></span> 
        </div>
    </div>
}

<div class="login-wrapper content-start">
    <div class="min-h-screen grid justify-items-center content-center">
        <div class="login">
            <form [formGroup]="loginForm" class="w-full" clrForm>
                <section class="title">
                    <h3 class="welcome">Login em:</h3>
                    Jantzch
                    <h5 class="hint">Acesse utilizando seu usuário do sistema ou conta do Google.</h5>
                </section>

                <div class="login-group">

                    <clr-input-container class="!flex !justify-center w-full">
                        <label class="clr-sr-only">Email</label>
                        <input formControlName="email" id="email" clrInput placeholder="Entre com seu email..."
                            type="email">

                        <clr-control-error>{{ showErrorMsg(email) }}</clr-control-error>
                    </clr-input-container>

                    <clr-password-container class="!flex !justify-center w-full">
                        <label class="clr-sr-only">Password</label>
                        <input formControlName="password" id="password" type="password" clrPassword
                            placeholder="Entre com sua senha...">

                        <clr-control-error>{{ showErrorMsg(password) }}</clr-control-error>
                    </clr-password-container>

                    @if (error !== null) {
                        <div class="error active">
                            {{ error }}
                        </div>
                    }

                    <button [clrLoading]="submitBtnState()" (click)="onSubmit()" id="loginButton" type="submit"
                        class="btn btn-primary !bg-[#ffcd00] !border-[#ffcd00]">Login</button>

                    <div class="flex justify-center w-full mt-6">
                        <asl-google-signin-button type='standard' size='large'></asl-google-signin-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>